<section class="how-its-made">
  <div class="container">
    <h2 class="how-its-title">
      HOW IT'S <span class="how-its-title-yelow">MADE?</span>
    </h2>

    <div class="how-its-wrapper">
      <div>
        <img class="how-its-img" width="335" height="500" />
      </div>
      <ul class="how-its-list">
        <li>
          <p class="how-its-text">
            Try our chocolates today and discover the perfect balance of flavor
          </p>
        </li>
        <li class="how-its-list-item list">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="how-its-list-item list">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="how-its-list-item list">
          <p>
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </p>
        </li>
        <li class="how-its-list-item list">
          <p>Heat the mixture over low heat, letting it barely boil.</p>
        </li>
        <li class="how-its-list-item list">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
