<section class="container">
  <h2 class="our-product-title">
    OUR <span class="our-product-title-yellow">PRODUCTS</span>
  </h2>
  <div class="swiper our-product-swiper wrapper">
    <ul class="list our-product-swiper-wrapper">
      <li class="item our-product-swiper-slide item">
        <img
          class="our-product-img"
          src="../img/Orange-chokolate.jpg"
          alt=""
          width="230px"
          height="201px"
        />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide item">
        <img class="our-product-img" src="../img/Apple-chokolate.jpg" alt="" />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide item">
        <img class="our-product-img" src="../img/Lime-chokolate.jpg" alt="" />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide our-product-item">
        <img
          class="our-product-img"
          src="../img/PineApple-chokolate.jpg"
          alt=""
        />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide item">
        <img
          class="our-product-img"
          src="../img/Classic-milk-chokolate.jpg"
          alt=""
        />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide item">
        <img class="our-product-img" src="../img/Honey-chokolate.jpg" alt="" />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide item">
        <img
          class="our-product-img"
          src="../img/Roasted-chokolate.jpg"
          alt=""
        />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
      <li class="item our-product-swiper-slide item">
        <img
          class="our-product-img"
          src="../img/Classic-white-chokolate.jpg"
          alt=""
        />
        <p class="our-product-name-chocolate">ORANGE</p>
        <p class="our-product-text-chocolate">Dark chocolate</p>
        <span class="our-product-omg-price">45 UAH</span>
      </li>
    </ul>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.our-product-swiper-slide', {
    slidesPerView: 1,
    spaceBetween: 18,
    loop: true,
    autoplay: {
      delay: 1000,
      pauseOnMouseEnter: true,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
