<section class="unique">
  <div class="unique-container container">
    <h2 class="unique-title">
      It all adds up to one exceptional
      <span class="unique-text-span"> taste </span>sensation
    </h2>
    <p class="unique-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-list">
      <li class="unique-item unique-m-ch">
        <div class="unique-item-overlay">
        <picture class="uniqui-picture">
          <source
            srcset="
              ./img/unique-desk-milk-chocolate.jpg 1x,
              ./img/unique-desk-milk-chocolate.jpg 2x
            "
            media="min-width: 768px"
          />

          <source
            srcset="
              ./img/unique-milk-chocolate.jpg 1x,
              ./img/unique-milk-chocolate.jpg 2x
            "
            media="max-width: 767px"
          />
          <img
            class="unique-image"
            src="./img/unique-milk-chocolate.jpg"
            alt="milk-chocolate"
            width="335"
            height="270"
          />
        </picture>
        <div class="unique-overlay">
          <h3 class="unique-overlay-title">milk chocolate</h3>
          <ul class="unique-overlay-list">
            <li class="unique-overlay-item">
              <button class="uniqui-overlay-button name" type="button">chocolate</button>
            </li>
            <li class="unique-overlay-item">
              <button class="uniqui-overlay-button benefits" type="button">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
          </p>
        </div>
      </div>
      </li>
      <li class="unique-item unique-m">
        <div class="unique-item-overlay">
        <picture class="uniqui-picture">
          <source
            srcset="
              ./img/unique-desk-milk.jpg 1x,
              ./img/unique-desk-milk.jpg 2x
            "
            media="min-width: 768px"
          />

          <source
            srcset="./img/unique-milk.jpg 1x, ./img/unique-milk.jpg 2x"
            media="max-width: 767px"
          />
          <img
            class="unique-image"
            src="./img/unique-milk.jpg"
            alt="milk"
            width="335"
            height="270"
          />
        </picture>
        <div class="unique-overlay">
          <h3 class="unique-overlay-title">milk</h3>
          <ul class="unique-overlay-list">
            <li class="unique-overlay-item">
              <button class="uniqui-overlay-button name" type="button">milk</button>
            </li>
            <li class="unique-overlay-item">
              <button class="uniqui-overlay-button benefits" type="button">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text">
            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.
          </p>
        </div>
      </div>
      </li>
      <li class="unique-item unique-n">
        <div class="unique-item-overlay">
          <picture class="uniqui-picture">
            <source
              srcset="
                ./img/unique-desk-hazelnuts.jpg 1x,
                ./img/unique-desk-hazelnuts.jpg 2x
              "
              media="min-width: 768px"
            />

            <source
              srcset="
                ./img/unique-hazelnuts.jpg      1x,
                ./img/unique-milk-hazelnuts.jpg 2x
              "
              media="max-width: 767px"
            />
            <img
              class="unique-image"
              src="./img/unique-hazelnuts.jpg"
              alt="hazelnut"
              width="335"
              height="270"
            />
          </picture>
          
          <div class="unique-overlay">
            <h3 class="unique-overlay-title">Nuts</h3>
            <ul class="unique-overlay-list">
              <li class="unique-overlay-item">
                <button class="uniqui-overlay-button name" type="button">nats</button>
              </li>
              <li class="unique-overlay-item">
                <button class="uniqui-overlay-button benefits" type="button">the benefits</button>
              </li>
            </ul>
            <p class="unique-overlay-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>

      <li class="unique-item unique-ch">
        <div class="unique-item-overlay">
        <picture class="uniqui-picture">
          <source
            srcset="
              ./img/unique-desk-chocolate.jpg 1x,
              ./img/unique-desk-chocolate.jpg 2x
            "
            media="min-width: 768px"
          />

          <source
            srcset="
              ./img/unique-chocolate.jpg 1x,
              ./img/unique-chocolate.jpg 2x
            "
            media="max-width: 767px"
          />
          <img
            class="unique-image"
            src="./img/unique-chocolate.jpg"
            alt="chocolate"
            width="335"
            height="270"
          />
        </picture>
        <div class="unique-overlay">
          <h3 class="unique-overlay-title">semi - sweet chocolate</h3>
          <ul class="unique-overlay-list">
            <li class="unique-overlay-item">
              <button class="uniqui-overlay-button name" type="button">sweet chocolate</button>
            </li>
            <li class="unique-overlay-item">
              <button class="uniqui-overlay-button benefits" type="button">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.
          </p>
        </div>
       </div>
    </li>
    </ul>
  </div>
</section>
