<section class="unique">
  <div class="unique-container container">
    <h2 class="unique-title">
      It all adds up to one exceptional
      <span class="unique-text-span"> taste </span>sensation
    </h2>
    <p class="unique-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-list">
      <li class="unique-item">
        <picture class="uniqui-picture">
          <source
            srcset="
              ./img/unique-desk-milk-chocolate.jpg 1x,
              ./img/unique-desk-milk-chocolate.jpg 2x
            "
            media="min-width: 768px"
          />

          <source
            srcset="
              ./img/unique-milk-chocolate.jpg 1x,
              ./img/unique-milk-chocolate.jpg 2x
            "
            media="max-width: 767px"
          />
          <img
            class="unique-image"
            src="./img/unique-milk-chocolate.jpg"
            alt="milk-chocolate"
            width="335"
            height="270"
          />
        </picture>
      </li>
      <li class="unique-item">
        <picture class="uniqui-picture">
          <source
            srcset="
              ./img/unique-desk-milk.jpg 1x,
              ./img/unique-desk-milk.jpg 2x
            "
            media="min-width: 768px"
          />

          <source
            srcset="./img/unique-milk.jpg 1x, ./img/unique-milk.jpg 2x"
            media="max-width: 767px"
          />
          <img
            class="unique-image"
            src="./img/unique-milk.jpg"
            alt="milk"
            width="335"
            height="270"
          />
        </picture>
        <img class="unique-image" srcset="" src="" alt="" />
      </li>
      <li class="unique-item">
        <div class="unique-item-overlay">
          <picture class="uniqui-picture">
            <source
              srcset="
                ./img/unique-desk-hazelnuts.jpg 1x,
                ./img/unique-desk-hazelnuts.jpg 2x
              "
              media="min-width: 768px"
            />

            <source
              srcset="
                ./img/unique-hazelnuts.jpg      1x,
                ./img/unique-milk-hazelnuts.jpg 2x
              "
              media="max-width: 767px"
            />
            <img
              class="unique-image"
              src="./img/unique-hazelnuts.jpg"
              alt="hazelnut"
              width="335"
              height="270"
            />
          </picture>
          
          <div class="unique-overlay">
            <h3 class="unique-overlay-title">Nuts</h3>
            <ul class="unique-overlay-list">
              <li class="unique-overlay-item">
                <button class="uniqui-overlay-button name" type="button">nats</button>
              </li>
              <li class="unique-overlay-item">
                <button class="uniqui-overlay-button benefits" type="button">the benefits</button>
              </li>
            </ul>
            <p class="unique-overlay-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>

      <li class="unique-item">
        <picture class="uniqui-picture">
          <source
            srcset="
              ./img/unique-desk-chocolate.jpg 1x,
              ./img/unique-desk-chocolate.jpg 2x
            "
            media="min-width: 768px"
          />

          <source
            srcset="
              ./img/unique-chocolate.jpg 1x,
              ./img/unique-chocolate.jpg 2x
            "
            media="max-width: 767px"
          />
          <img
            class="unique-image"
            src="./img/unique-chocolate.jpg"
            alt="chocolate"
            width="335"
            height="270"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
