@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat-Regular.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat-Medium.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat-SemiBold.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat-Bold.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat-BoldItalic.ttf);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}